.ngt-hbox {
  clear: left;
  display: block;
  //.highlightForHelp(#002a80);
  > * {
    float: left;
  }
}
.ngt-vbox {
  clear: left;
  display: block;
  //.highlightForHelp(#a9302a);
  > * {
    clear: left;
  }
}
.ngt-title {
  border-bottom: 1px solid #AAA;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.control-checkbox {
  float: left;
}
.control-checkbox-label {
  display: inline-block;
  margin-left: 5px;
}
.highlightForHelp(@color) {
  float: left;
  border: 1px solid @color;
  margin: 2px;
  padding: 2px;
}
.editor-block {
  >.editor-block-switch {
    margin-bottom: 10px;
    .editor-block-default {
      min-height: 290px;
    }
  }
}